@font-face {
  font-family: "inter-thin";
  src: url("../assets/fonts/static/Inter-Thin.ttf") format("truetype")
}
@font-face {
  font-family: "inter-extra-light";
  src: url("../assets/fonts/static/Inter-ExtraLight.ttf") format("truetype")
}
@font-face {
  font-family: "inter-light";
  src: url("../assets/fonts/static/Inter-Light.ttf") format("truetype")
}
@font-face {
  font-family: "inter-regular";
  src: url("../assets/fonts/static/Inter-Regular.ttf") format("truetype")
}
@font-face {
  font-family: "inter-medium";
  src: url("../assets/fonts/static/Inter-Medium.ttf") format("truetype")
}
@font-face {
  font-family: "inter-semi-bold";
  src: url("../assets/fonts/static/Inter-SemiBold.ttf") format("truetype")
}
@font-face {
  font-family: "inter-bold";
  src: url("../assets/fonts/static/Inter-Bold.ttf") format("truetype")
}
@font-face {
  font-family: "inter-extra-bold";
  src: url("../assets/fonts/static/Inter-ExtraBold.ttf") format("truetype")
}
@font-face {
  font-family: "inter-black";
  src: url("../assets/fonts/static/Inter-Black.ttf") format("truetype")
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  --normal-white: #fff;
  --dark-white: #fafafa;
  --xx-light-gray: #F6F6F6;
  --x-light-gray: #efefef;
  --light-gray: #c4c4c4;
  --gray: #808080;
  --black: #000000;
  --cta-cyan: #00fff0;

  --font-lt: 0.85em;
  --font-reg: 1em;
  --font-x: 1.25em;
  --font-xl: 1.75em;
  --font-xxl: 2em;

  font-family: "inter-regular";
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 